// Color
$white: #fff;
$black: #000;

$black-shadow: rgba(0, 0, 0, 0.2);

// Responsive
$sm: "min-width: 576px"; // landscape phone
$md: "min-width: 768px"; // ipad portrait
$lg: "min-width: 992px"; // ipad landscape / ipad pro portrait
$xl: "min-width: 1200px"; // desktop / ipad pro landscape
