// Color
$white: #fff;
$black: #000;
$dark: #1A1A1A;

$black-shadow: rgba(0, 0, 0, 0.07);

// Responsive
$sm: "min-width: 600px";
$md: "min-width: 900px";
$lg: "min-width: 1200px";
$xl: "min-width: 1536px";
